@{
    ViewData["Title"] = "Главная";
}

<!--==========================
Header
============================-->

<partial name="~/Views/Home/Landing.Menu.cshtml" />

<!--==========================
  Intro Section
============================-->

<partial name="~/Views/Home/Landing.Header.cshtml" />

<main id="main">

    <!--==========================
      About Us Section
    ============================-->

    <partial name="~/Views/Home/Landing.AboutUs.cshtml" />

    <!--==========================
      Services Section
    ============================-->

    <partial name="~/Views/Home/Landing.Service.cshtml" />

    <!--==========================
      Why Us Section
    ============================-->

    <partial name="~/Views/Home/Landing.WhyUs.cshtml" />

    <!--==========================
      Portfolio Section
    ============================-->

    <partial name="~/Views/Home/Landing.Gallery.cshtml" />

    <!--==========================
      Clients Section
    ============================-->

    @*<partial name="~/Views/Home/Landing.Clients.cshtml" />*@

    <!--==========================
      Team Section
    ============================-->

    @*<partial name="~/Views/Home/Landing.Team.cshtml" />*@

    <!--==========================
      Clients Section
    ============================-->

    @*<partial name="~/Views/Home/Landing.Clients2.cshtml" />*@

    <!--==========================
      Contact Section
    ============================-->

    <partial name="~/Views/Home/Landing.Contact.cshtml" />

</main>

<!--==========================
  Footer
============================-->
<partial name="~/Views/Home/Landing.Footer.cshtml" />