<section id="intro" class="clearfix">
    <div class="container">

        <div class="intro-img">
            <img src="~/img/about-img.svg" class="img-fluid" alt="">
        </div>

        <div class="intro-info">
            <h2>Cтань частью большой тусовки. <span>Начало большого будущего!</span></h2>
            <div>
                <a asp-controller="Account" asp-action="Register" class="btn-get-started scrollto">Зарегистрироваться</a>
                <a asp-controller="Account" asp-action="Login" class="btn-services scrollto">Войти</a>
            </div>
            <div>                
                <a class="btn-dowload-app btn-success scrollto" href="~/download/geometry.apk">Загрузить приложение</a>
            </div>
        </div>

    </div>
</section><!-- #intro -->