<section id="about">
    <div class="container">

        <header class="section-header">
            <h3>О нас</h3>
        </header>

        <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp">
                <img src="~/img/about-extra-1.svg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                <h4>GeoGeometry – инновационное приложение для Российских студентов.</h4>
                <p>
                    Будучи ещё неизвестным, приложение уже является многообещающим в данной сфере.                 
                </p>
            </div>
        </div>

        <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                <img src="~/img/about-extra-2.svg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                <h4>Хочешь провести время с пользой и удовольствием?</h4>
                <p>
                    Если Вы только вступили в группу или просто хотите завести новые знакомства со студентами других групп, 
                    то просто зайдите в свой аккаунт и наведите камеру на Человека перед собой. Приложение автоматически покажет,
                    кто из людей, находящихся в радиусе 500м от вас, уже зарегистрирован.
                    Здесь же Вы можете увидеть краткую информацию о человеке и о том, в какой он состоит группе.
                </p>
                <p>
                    Находитесь ли вы на мероприятии или просто в другом городе, области.
                    С GeoGeometry Вы всегда можете найти друзей, знакомых или просто увидеть,
                    как много представителей групп находится сейчас рядом с Вами.
                    Присоединяясь к нам, Вы становитесь частью большой тусовки. Начало большого будущего.
                </p>
            </div>

        </div>

    </div>
</section><!-- #about -->