<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-5 col-md-6 footer-info">
                    <h3>GeoGeometry</h3>
                    <p>

                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Полезные ссылки</h4>
                    <ul>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Сервисы</a></li>
                        <li><a href="#">События</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h4>Контакты</h4>
                    <p>
                        Россия, ул. Просвещения, 132,<br> Новочеркасск, Ростовская обл., 346428<br>                        
                        <strong>Email:</strong> geogeometry@mail.ru<br>
                    </p>

                    <div class="social-links">
                        <a href="https://vk.com/geometry_tmc" class="vk"><i class="fa fa-vk"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
           <strong>GeoGeometry</strong>. Все права защищены.
        </div>
    </div>
</footer><!-- #footer -->