<section id="why-us" class="wow fadeIn">
    <div class="container">
        <header class="section-header">
            <h3>В разработке</h3>
        </header>

        <div class="row counters">

            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">250,000</span>
                <p>Трудоустройство</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">74</span>
                <p>Региона России</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">270,231</span>
                <p>Студентов</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">1,435</span>
                <p>Групп</p>
            </div>

        </div>

    </div>
</section>