<header id="header" class="fixed-top">
    <div class="container">

        <div class="logo float-left">
            <a href="#intro" class="scrollto"><img src="~/img/logo-header.png" alt="" class="img-fluid"></a>
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                <li class="active"><a href="#intro">Главная</a></li>
                <li><a href="#about">О нас</a></li>
                <li><a href="#services">Сервисы</a></li>
                <li><a href="#portfolio">События</a></li>
                <li><a href="#contact">Контакты</a></li>
            </ul>
        </nav>

    </div>
</header>