
@{
    ViewData["Title"] = "Подтверждение почты";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Для завершения операции проверьте электронную почту и перейдите по ссылке, указанной в почте.
        Пожалуйста <a asp-controller="Manage" asp-action="Index">кликните здесь, чтобы вернуться.</a>
    </p>
</div>
